/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', serif;
}

ol,
ul {
  list-style: none;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: #555;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Genereal */
header {
  background-color: #fff;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

.navigation {
  border-bottom: 1px solid #dcdcdc;
  width: 100%;

  /* position: fixed; */
  top: 0;
  z-index: 1;
}

.float {
  float: left;
  width: 33%;
}

/* .logo {
  padding: 10px;
} */

.float.right {
  text-align: right;
}

.float.center {
  text-align: center;
}

.float.left img,
.float.left i {
  padding: 8px;
  margin-left: 5px;
}

.icon-float {
  float: left;
}

button {
  padding: 11px 12px 8px;
  background-color: #6288a5;
  color: #fff;
  border-radius: 3px;
}

.navigation::after {
  content: "";
  display: block;
  clear: both;
}

.doctor-info {
  float: left;
  margin-left: 15%;
  margin-bottom: 15px;
}

.doctor-info p {
  display: inline-block;
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.doctor-info .tiny {
  font-size: 0.9rem;
  color: #333;
  line-height: 0.6;
}

.doctor-info .tinier {
  font-size: 0.7rem;
  color: #aaa;
}

.doctor-info::after {
  content: "";
  display: block;
  clear: both;
}

.article-name {
  float: left;
  margin-left: 21.5%;
  margin-right: 27%;
  width: 52%;
}

.article-name p {
  margin-bottom: 15px;
}

.article-time {
  float: left;
}

.big-ul {
  display: block;
  width: 100%;
}

.big-ul::after {
  content: "";
  display: block;
  clear: both;
}

.small-ul {
  float: right;
  text-align: right;
  margin-left: 10%;
}

.media-icon {
  float: right;
  margin-right: 7px;
}

.small-ul i {
  padding: 8px;
  background-color: #eee;
  border-radius: 50%;
}

.article {
  margin-top: 15px;
}

.blue {
  color: #326891;
  text-decoration: underline;
}

.blue:hover {
  text-decoration: none;
}
